In [1]:
import pandas as pd

In [24]:
df = pd.read_pickle('../pickle_jar/df.p')
demographics = pd.read_pickle('../pickle_jar/demographics_df.p')
housing = pd.read_pickle('../pickle_jar/housing_high_low_df.p')
household = pd.read_pickle('../pickle_jar/household_high_low.p')

In [22]:
demographics.head()

,NBRHD_NAME,POPULATION_2010,HISPANIC_2010,WHITE_2010,BLACK_2010,NATIVEAM_2010,ASIAN_2010,HAWPACIS_2010,OTHER_2010,TWO_OR_MORE_2010,...,PCT_HAW_PACIS,PCT_OTHER_RACE,PCT_TWO_OR_MORE_RACES,MALE,FEMALE,Black_PCT_cat,Hispanic_PCT_cat,American_indian_PCT_cat,Asian_PCT_cat,White_PCT_cat
1,Hampden,17547.0,2505.0,11750.0,1963.0,64.0,726.0,20.0,38.0,481.0,...,0.11,0.22,2.74,8438.0,9109.0,average,low,average,average,average
2,Baker,4879.0,1664.0,2854.0,144.0,43.0,52.0,10.0,7.0,105.0,...,0.20,0.14,2.15,2565.0,2314.0,low,average,average,low,average
3,Washington Park,6905.0,295.0,6356.0,28.0,9.0,119.0,3.0,13.0,82.0,...,0.04,0.19,1.19,3378.0,3527.0,low,low,low,average,high
4,Cherry Creek,5589.0,332.0,4896.0,79.0,17.0,168.0,4.0,3.0,90.0,...,0.07,0.05,1.61,2488.0,3101.0,low,low,low,average,high
5,Country Club,3001.0,94.0,2740.0,20.0,8.0,77.0,1.0,5.0,56.0,...,0.03,0.17,1.87,1443.0,1558.0,low,low,low,average,high

In [25]:
housing.head()

,HOUSING_UNITS,HU_OWNED,HU_RENTED,OCCUPIED_HU,OWNED_FREE_CLEAR,OWNED_W_MORTG_LOAN,RENTED,VACANT_FOR_RENT,VACANT_FOR_SALE,VACANT_HU,VACANT_OTHER,VACANT_RENTED_NOT_OCC,VACANT_SEASONAL,VACANT_SOLD_NOT_OCC
1,high,high,high,high,high,high,high,high,average,high,high,high,average,high
2,average,average,average,average,lower,average,average,average,average,average,average,average,lower,average
3,average,average,lower,average,high,average,lower,lower,average,average,average,average,average,high
4,average,average,average,average,average,average,average,average,average,high,average,average,high,high
5,lower,average,lower,lower,average,average,lower,lower,lower,lower,lower,lower,average,average

In [26]:
household.head()

,FAMILIES,FAMILY_HHLD,FEMALE_HHLDR_NO_CHILDR,FEMALE_HHLDR_NO_HUSB,FEMALE_HHLDR_W_CHILDR,HH_NO_NONRELATIVES,HH_W_NONRELATIVES,HUSB_WIFE_FAM,HUSB_WIFE_NO_CHILD,HUSB_WIFE_W_CHLDR,...,MALE_HHLDR_W_CHLDR,NON_FAMILY_FEMALE_HHLDR,NON_FAMILY_HH,NON_FAMILY_MALE_HHLDR,NUM_HOUSEHOLDS,ONE_PERSON_HH,ONE_PERSON_HH_FEMALE,ONE_PERSON_HH_MALE,OTHER_FAMILY,TWO_OR_MORE_PERSON_HH
1,high,high,high,high,high,high,high,high,average,high,...,high,high,high,high,high,high,high,high,high,high
2,average,average,average,average,lower,average,average,average,lower,average,...,average,average,average,average,average,average,average,average,average,average
3,average,average,lower,lower,lower,average,average,average,average,average,...,average,average,average,average,average,average,average,average,lower,average
4,average,average,average,lower,lower,average,average,average,lower,average,...,lower,average,average,average,average,average,average,average,lower,average
5,average,average,lower,lower,lower,lower,lower,average,average,average,...,lower,lower,lower,lower,lower,lower,lower,lower,lower,lower

In [27]:
demographics.shape, housing.shape, household.shape

((78, 25), (78, 14), (78, 22))

In [49]:
combined = pd.concat([demographics, housing, household], axis=1)
combined.shape

(78, 61)

In [52]:
combined.sample(20)

,NBRHD_NAME,POPULATION_2010,HISPANIC_2010,WHITE_2010,BLACK_2010,NATIVEAM_2010,ASIAN_2010,HAWPACIS_2010,OTHER_2010,TWO_OR_MORE_2010,...,MALE_HHLDR_W_CHLDR,NON_FAMILY_FEMALE_HHLDR,NON_FAMILY_HH,NON_FAMILY_MALE_HHLDR,NUM_HOUSEHOLDS,ONE_PERSON_HH,ONE_PERSON_HH_FEMALE,ONE_PERSON_HH_MALE,OTHER_FAMILY,TWO_OR_MORE_PERSON_HH
19,Cory - Merrill,3892.0,238.0,3440.0,38.0,6.0,104.0,1.0,9.0,56.0,...,lower,average,lower,lower,average,lower,average,lower,lower,average
30,University Hills,5327.0,540.0,4376.0,153.0,19.0,110.0,3.0,10.0,116.0,...,average,average,average,average,average,average,average,average,average,average
8,City Park West,4844.0,524.0,2981.0,995.0,53.0,84.0,1.0,20.0,186.0,...,lower,average,average,average,average,average,average,average,lower,average
56,Overland,2218.0,678.0,1337.0,75.0,17.0,47.0,3.0,7.0,54.0,...,lower,lower,average,average,lower,lower,lower,lower,lower,lower
68,Jefferson Park,2552.0,1419.0,991.0,37.0,23.0,39.0,0.0,4.0,39.0,...,average,lower,average,average,lower,lower,lower,lower,lower,lower
5,Country Club,3001.0,94.0,2740.0,20.0,8.0,77.0,1.0,5.0,56.0,...,lower,lower,lower,lower,lower,lower,lower,lower,lower,lower
39,Harvey Park South,8393.0,3925.0,3641.0,171.0,54.0,464.0,11.0,17.0,110.0,...,average,lower,lower,lower,average,average,average,average,average,average
4,Cherry Creek,5589.0,332.0,4896.0,79.0,17.0,168.0,4.0,3.0,90.0,...,lower,average,average,average,average,average,average,average,lower,average
63,Sloan Lake,7238.0,2376.0,4274.0,124.0,82.0,254.0,1.0,10.0,117.0,...,average,average,average,average,average,average,average,average,average,average
71,Chaffee Park,3874.0,2548.0,1194.0,36.0,34.0,22.0,0.0,9.0,31.0,...,average,lower,lower,lower,lower,lower,lower,lower,average,lower
41,Barnum West,5376.0,4016.0,1151.0,40.0,53.0,81.0,2.0,5.0,28.0,...,average,lower,lower,lower,average,lower,lower,lower,average,average
78,Bear Valley,8889.0,3543.0,4673.0,129.0,63.0,335.0,9.0,17.0,120.0,...,average,average,average,average,average,average,average,average,average,average
24,Sunnyside,9726.0,5768.0,3321.0,286.0,104.0,94.0,3.0,29.0,121.0,...,average,average,average,average,average,average,average,average,average,average
32,West Highland,8540.0,1637.0,6472.0,94.0,55.0,145.0,2.0,19.0,116.0,...,average,average,average,average,average,average,average,average,average,average
34,Indian Creek,3096.0,295.0,2258.0,328.0,11.0,109.0,3.0,5.0,87.0,...,lower,average,average,lower,average,average,average,lower,lower,lower
69,Valverde,3941.0,3050.0,593.0,124.0,47.0,78.0,5.0,5.0,39.0,...,average,lower,lower,lower,lower,lower,lower,lower,average,lower
14,Five Points,12712.0,2863.0,7240.0,1936.0,103.0,219.0,12.0,20.0,319.0,...,average,high,high,high,high,high,high,high,average,average
70,Athmar Park,8898.0,6499.0,1832.0,102.0,67.0,314.0,8.0,14.0,62.0,...,average,average,average,average,average,lower,lower,lower,average,average
58,Hilltop,8190.0,486.0,6895.0,403.0,17.0,226.0,2.0,13.0,148.0,...,average,average,average,average,average,average,average,lower,average,average
15,Stapleton,13948.0,1812.0,9718.0,1395.0,80.0,515.0,7.0,31.0,390.0,...,average,average,average,average,average,average,average,average,average,average

In [83]:
combined.to_pickle('../pickle_jar/combined.p')

In [71]:
combined['NBRHD_NAME'] = combined['NBRHD_NAME'].str.lower()

In [76]:
combined['NBRHD_NAME'] = combined['NBRHD_NAME'].str.replace(' \ ', '-')
combined['NBRHD_NAME']

1                         hampden
2                           baker
3                 washington-park
4                    cherry-creek
5                    country-club
6                         clayton
7                         skyland
8                  city-park-west
9                    capitol-hill
10             north-capitol-hill
11                   civic-center
12                            cbd
13                  union-station
14                    five-points
15                      stapleton
16                       highland
17                     globeville
18                university-park
19                 cory---merrill
20           washington-park-west
21                          speer
22                  congress-park
23                           cole
24                      sunnyside
25                      ruby-hill
26                     university
27                      goldsmith
28               virginia-village
29                            dia
30               university-hills
                 ...
49                north-park-hill
50                south-park-hill
51                        kennedy
52    college-view-/-south-platte
53                  hampden-south
54            northeast-park-hill
55                 elyria-swansea
56                       overland
57                  cheesman-park
58                        hilltop
59                   lincoln-park
60                        auraria
61                        belcaro
62                        windsor
63                     sloan-lake
64                       berkeley
65                          regis
66                     sun-valley
67                      wellshire
68                 jefferson-park
69                       valverde
70                    athmar-park
71                   chaffee-park
72                    harvey-park
73                         barnum
74                       whittier
75                      montbello
76                        marston
77                     fort-logan
78                    bear-valley
Name: NBRHD_NAME, Length: 78, dtype: object

In [79]:
combined.loc[combined['NBRHD_NAME'].str.contains('/'), :]

,NBRHD_NAME,POPULATION_2010,HISPANIC_2010,WHITE_2010,BLACK_2010,NATIVEAM_2010,ASIAN_2010,HAWPACIS_2010,OTHER_2010,TWO_OR_MORE_2010,...,MALE_HHLDR_W_CHLDR,NON_FAMILY_FEMALE_HHLDR,NON_FAMILY_HH,NON_FAMILY_MALE_HHLDR,NUM_HOUSEHOLDS,ONE_PERSON_HH,ONE_PERSON_HH_FEMALE,ONE_PERSON_HH_MALE,OTHER_FAMILY,TWO_OR_MORE_PERSON_HH
40,gateway-/-green-valley-ranch,29201.0,10818.0,7003.0,8305.0,108.0,1655.0,110.0,65.0,1137.0,...,high,average,average,average,high,average,average,average,high,high
52,college-view-/-south-platte,6498.0,4408.0,1228.0,165.0,78.0,515.0,12.0,18.0,74.0,...,average,lower,lower,average,average,lower,lower,lower,average,average

In [84]:
combined['NBRHD_NAME'] = combined['NBRHD_NAME'].str.replace('-/-', '-')
combined['NBRHD_NAME'] = combined['NBRHD_NAME'].str.replace('--', '-')
combined['NBRHD_NAME']

1                       hampden
2                         baker
3               washington-park
4                  cherry-creek
5                  country-club
6                       clayton
7                       skyland
8                city-park-west
9                  capitol-hill
10           north-capitol-hill
11                 civic-center
12                          cbd
13                union-station
14                  five-points
15                    stapleton
16                     highland
17                   globeville
18              university-park
19                 cory-merrill
20         washington-park-west
21                        speer
22                congress-park
23                         cole
24                    sunnyside
25                    ruby-hill
26                   university
27                    goldsmith
28             virginia-village
29                          dia
30             university-hills
                ...
49              north-park-hill
50              south-park-hill
51                      kennedy
52    college-view-south-platte
53                hampden-south
54          northeast-park-hill
55               elyria-swansea
56                     overland
57                cheesman-park
58                      hilltop
59                 lincoln-park
60                      auraria
61                      belcaro
62                      windsor
63                   sloan-lake
64                     berkeley
65                        regis
66                   sun-valley
67                    wellshire
68               jefferson-park
69                     valverde
70                  athmar-park
71                 chaffee-park
72                  harvey-park
73                       barnum
74                     whittier
75                    montbello
76                      marston
77                   fort-logan
78                  bear-valley
Name: NBRHD_NAME, Length: 78, dtype: object

In [92]:
combined.loc[combined['NBRHD_NAME'].str.contains('virginia'), :]

,NBRHD_NAME,POPULATION_2010,HISPANIC_2010,WHITE_2010,BLACK_2010,NATIVEAM_2010,ASIAN_2010,HAWPACIS_2010,OTHER_2010,TWO_OR_MORE_2010,...,MALE_HHLDR_W_CHLDR,NON_FAMILY_FEMALE_HHLDR,NON_FAMILY_HH,NON_FAMILY_MALE_HHLDR,NUM_HOUSEHOLDS,ONE_PERSON_HH,ONE_PERSON_HH_FEMALE,ONE_PERSON_HH_MALE,OTHER_FAMILY,TWO_OR_MORE_PERSON_HH
28,virginia-village,12844.0,2488.0,8453.0,1007.0,82.0,437.0,5.0,28.0,344.0,...,average,average,average,average,high,average,average,average,average,high
46,washington-virginia-vale,13030.0,1770.0,8003.0,1943.0,57.0,858.0,14.0,37.0,348.0,...,average,high,high,high,high,high,high,high,high,high